.jumbotron {
    background-color: rgba(37, 105, 250, 0.658);
    background-image: url(/images/playa.jpg);
    background-position: center top;
    background-size: auto 900px;
    color: black;
    margin-top: 50px;
    font-style: italic;
}

.titulo {
    background-color: white;
    font-size: 40px;
}

.titulo2 {
    background-color: white;
    font-size: 30px;
}

.footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.img-playa {
    width: 100%;
    height: 350px;
}

.tab-content {
    padding-top: 10px;
}