@celeste: #2569faa8;
@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}


.jumbotron {
    background-color: @celeste;
    background-image: url(/images/playa.jpg);
    background-position: center top;
    background-size: auto 900px;
    color: black;
    .margenes(50px, 10px);
    font-style: italic; }
  
  .titulo {
    background-color: white;
    font-size: 40px; }
  
  .titulo2 {
    background-color: white;
    font-size: 30px; }
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(20px, 0px); }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .img-playa {
    width: 100%;
    height: 350px; }
  
  .tab-content {
    padding-top: 10px; }